<!DOCTYPE html>
<html>
		<head>
				<title>issue 561 test</title>
		</head>
		<body>
				Dump of stuff in DB:
				<% tList.forEach(function(t) { %>
				   <div>
						<%= t.prop %>
       			   </div>
				<% }) %>
		</body>
</html>